In [12]:
import json
from time import sleep
import requests
import lxml
from bs4 import BeautifulSoup
from selenium import webdriver
import sqlite3 as lite
import pandas as pd
from pymongo import MongoClient

# Vacation Homework

## Q1. Python Basic, Web Scraping, RDBMS, SQL

### Q1-1

`Ancient Egyptian multiplication`(one of two multiplication methods used by scribes, was a systematic method for multiplying two numbers that does not require the multiplication table, only the ability to multiply and divide by 2, and to add.) 을 Python 으로 구현하세요.

example output)

```
enter two numbers: 24 15
  24      15 struck
  12      30 struck
   6      60 struck
   3     120 keep
   1     240 keep
The result is 360
```

In [10]:
# Q1-1
user_input = input("Enter Two Numbers: ")
[a, b] = [int(x) for x in user_input.split()]
kept_b = []

while a > 0:
    if a%2 == 1:
        status = "keep"
        kept_b.append(b)
    else:
        status = "struck"
        
    print("{a}{tab}{b}{tab}{status}".format(a=a, tab='\t', b=b, status=status))
    a //= 2
    b *= 2

result = sum([i for i in kept_b])
print("The result is {}".format(result))

Enter Two Numbers: 24 15
24	15	struck
12	30	struck
6	60	struck
3	120	keep
1	240	keep
The result is 360

### Q1-2
Twitter의 #asiancup 에 대한 트윗 검색결과(https://twitter.com/search?q=%23asiancup)를 sqlite 를 활용한 database에 적재하세요. (10회 스크롤 했을 때의 트윗 본문 전체(이미지 제외))

Requirements: selenium, sqlite3

Caution : https://twitter.com/robots.txt 의 지침을 따르세요.

```
# Every bot that might possibly read and respect this file.
User-agent: *
Allow: /*?lang=
Allow: /hashtag/*?src=
Allow: /search?q=%23
Disallow: /search/realtime
Disallow: /search/users
Disallow: /search/*/grid

Disallow: /*?
Disallow: /*/followers
Disallow: /*/following

Disallow: /account/not_my_account
Disallow: /account/deactivated
Disallow: /settings/deactivated

Disallow: /oauth
Disallow: /1/oauth

Disallow: /i/streams
Disallow: /i/hello

# Wait 1 second between successive requests. See ONBOARD-2698 for details.
Crawl-delay: 1
```

#### Practice

In [28]:
ch_driver = webdriver.Chrome('C:/Users/beave/AppData/Roaming/Microsoft/Windows/Start Menu/Programs/Python 3.7/chromedriver.exe')
url = 'https://twitter.com/search?q=%23asiancup'
ch_driver.get(url)

In [29]:
articles = ch_driver.find_elements_by_class_name('content')

# article-id and time
time = articles[0].find_element_by_class_name('time')
time_a = time.find_element_by_tag_name('a')
post_time = time_a.get_attribute('title') #time
post_id = time_a.get_attribute('data-conversation-id') #article-id

# body
body_div = articles[0].find_element_by_class_name("js-tweet-text-container")
post_body = body_div.find_element_by_tag_name("p").text

print(post_time, post_id, post_body, sep='\n')

오후 4:03 - 2019년 1월 23일
1088225691332534272
1일 베트남인. 쳐부수자 일제 원숭이!!!
Vietnam vo dich!
#AsianCup #Vietnam

#### Web Crawling

In [31]:
ch_driver = webdriver.Chrome('C:/Users/beave/AppData/Roaming/Microsoft/Windows/Start Menu/Programs/Python 3.7/chromedriver.exe')
url = 'https://twitter.com/search?q=%23asiancup'
ch_driver.get(url)

result = []

for _ in range(10):
    articles = ch_driver.find_elements_by_class_name('content')
    for item in articles:
        time = item.find_element_by_class_name('time')
        time_a = time.find_element_by_tag_name('a')
        
        post_time = time_a.get_attribute('title') #time
        post_id = time_a.get_attribute('data-conversation-id') #article-id
        
        body_div = item.find_element_by_class_name("js-tweet-text-container")
        post_body = body_div.find_element_by_tag_name("p").text
    
        result.append((post_time, post_id, post_body))
    
    ch_driver.execute_script("window.scrollTo(0, 1080)") # scroll down
    sleep(2)

In [33]:
# for check
result[:10]

[('오후 4:03 - 2019년 1월 23일',
  '1088225691332534272',
  '1일 베트남인. 쳐부수자 일제 원숭이!!!\nVietnam vo dich! \n#AsianCup #Vietnam'),
 ('오후 11:04 - 2019년 1월 24일',
  '1088694033025650688',
  '오늘은 킹덤 DDay 17:00 #Netflix\n밤엔 축구 DDay 22:00 #Asiancup'),
 ('오전 6:54 - 2019년 1월 25일',
  '1088812295445250052',
  '아쉽다... 한일로의 결승전을 기대했는데...... #asiancup #대한민국'),
 ('오후 7:21 - 2019년 1월 25일',
  '1089000442112012291',
  '"미안한 생각이 많이 드는 것 같습니다"\n#손흥민 #asiancup pic.twitter.com/qmzoCqVbC8'),
 ('오전 7:23 - 2019년 1월 25일',
  '1088819559971385344',
  '아시안컵 탈락이다..................\n#AsianCup'),
 ('오전 9:21 - 2019년 1월 25일',
  '1088849413714276352',
  'ㅈ..진정해요..!\n#김영권 AsianCup2019 #asiancup '),
 ('오후 11:40 - 2019년 1월 22일',
  '1087978282635718656',
  '아시아쿼터 찾는 수원, 아시안컵 공격수 관찰 중 (출처 : 스포티비뉴스 | 네이버 스포츠) \nK league Suwon Samsung, Asian Cup striker watching\nhttp://naver.me/54M4YBpd  \n#K리그 #Kleague #수원삼성 #suwonsamsung #아시안컵 #asiancup'),
 ('오후 7:53 - 2019년 1월 25일',
  '1089008350170206208',
  '"선수들 그리고 코칭스태프들한테 폐를 끼친 것 같다 미안하다는 생각을 너무 많이 갖고 있다"\n\n죄책감 갖지 마요\n컨디션도 내내 좋지 않았고 잠도 잘 못 잤다면서\n쉽지 않겠지만 얼른 털어서 컨디션 회복하고 소속팀에 집중해주세요\n#손흥민 #asiancup pic.twitter.com/dAIWGe7nqA'),
 ('오전 6:16 - 2019년 1월 22일',
  '1087715575458017281',
  '중계 사운드 왜 이럼? 현장음 거의 안들려서 스튜디오 중계같이 들리네. \n#jtbc #afc #asiancup'),
 ('오전 5:28 - 2019년 1월 24일',
  '1088428234570633216',
  'Yes! 베트남! #노골 #VAR #AsianCup #vietnamJapan')]

#### Insert Data Using SQLite

1. Create twitter_posts.db on sqlite3 and move db to your workspace<br/>
`.open twitter.db`

2. Insert the result into db with Jupyter Notebook

In [3]:
db = lite.connect('twitter.db')

In [4]:
pd.options.display.max_colwidth = 300

In [37]:
query_create_table = """
CREATE TABLE IF NOT EXISTS
Asiancup 
("Datetime" TEXT,
"ArticleID" TEXT,
"ArticleBody" TEXT);
"""

query_insert_data = """
INSERT INTO Asiancup VALUES(?,?,?);
"""

with db:
    cur = db.cursor()
    cur.execute(query_create_table)
    for row in result:
        cur.execute(query_insert_data,row)
        
pd.read_sql("SELECT * FROM Asiancup;", db).head()

,Datetime,ArticleID,ArticleBody
0,오후 4:03 - 2019년 1월 23일,1088225691332534272,1일 베트남인. 쳐부수자 일제 원숭이!!!\nVietnam vo dich! \n#AsianCup #Vietnam
1,오후 11:04 - 2019년 1월 24일,1088694033025650688,오늘은 킹덤 DDay 17:00 #Netflix\n밤엔 축구 DDay 22:00 #Asiancup
2,오전 6:54 - 2019년 1월 25일,1088812295445250052,아쉽다... 한일로의 결승전을 기대했는데...... #asiancup #대한민국
3,오후 7:21 - 2019년 1월 25일,1089000442112012291,"""미안한 생각이 많이 드는 것 같습니다""\n#손흥민 #asiancup pic.twitter.com/qmzoCqVbC8"
4,오전 7:23 - 2019년 1월 25일,1088819559971385344,아시안컵 탈락이다..................\n#AsianCup

## Q2. SQL, RDBMS

`products.db` 에 대하여 다음 문제를 해결하세요.

In [5]:
products_db = lite.connect('products.db')

### Q2-1

`products.db`에 존재하는 모든 `table`과 `column`을 조회하세요.

In [40]:
# Q2-1
query = """
SELECT tbl_name, sql FROM sqlite_master;
"""

pd.read_sql(query, products_db)

,tbl_name,sql
0,Categories,"CREATE TABLE Categories(\n ""CategoryID"" TEXT,\n ""CategoryName"" TEXT,\n ""Description"" TEXT\n)"
1,Customers,"CREATE TABLE Customers(\n ""CustomerID"" TEXT,\n ""CustomerName"" TEXT,\n ""ContactName"" TEXT,\n ""Address"" TEXT,\n ""City"" TEXT,\n ""PostalCode"" TEXT,\n ""Country"" TEXT\n)"
2,Employees,"CREATE TABLE Employees(\n ""EmployeeID"" TEXT,\n ""LastName"" TEXT,\n ""FirstName"" TEXT,\n ""BirthDate"" TEXT,\n ""Photo"" TEXT,\n ""Notes"" TEXT\n)"
3,Shippers,"CREATE TABLE Shippers(\n ""ShipperID"" TEXT,\n ""ShipperName"" TEXT,\n ""Phone"" TEXT\n)"
4,Suppliers,"CREATE TABLE Suppliers(\n ""SupplierID"" TEXT,\n ""SupplierName"" TEXT,\n ""ContactName"" TEXT,\n ""Address"" TEXT,\n ""City"" TEXT,\n ""PostalCode"" TEXT,\n ""Country"" TEXT,\n ""Phone"" TEXT\n)"
5,Orders,"CREATE TABLE Orders(\nOrderID integer,\nCustomerID integer,\nEmployeeID integer,\nOrderDate date,\nShipperID integer)"
6,OrderDetails,"CREATE TABLE OrderDetails(\nOrderDetailID integer,\nOrderID integer,\nProductID integer,\nQuantity integer)"
7,Products,"CREATE TABLE Products(\nProductID integer,\nProductName text,\nSupplierID integer,\nCategoryID integer,\nUnit text,\nPrice integer\n)"

### Q2-2

`Customer`의 `Country`가 "Germany" 이거나 `City`가 "London" 인 모든 주문의 주문양(`Quantity`)의 합을 조회하세요.

In [72]:
# Q 2-2
query = """
SELECT sum(Quantity) "Total Quantity"
FROM OrderDetails
WHERE
    OrderID IN(
    SELECT OrderID
    FROM Orders
    WHERE 
        CustomerID IN(
        SELECT CustomerID
        FROM Customers
        WHERE
            Country == "Germany"
            OR
            City == "London"
        )
    )
;    
"""

pd.read_sql(query, products_db)

   Total Quantity
0            2633

### Q2-3

월별 총 주문 횟수와 총 주문 갯수, 평균 주문 금액(소수점 2째 자리에서 반올림)을 조회하세요.
(총 주문 횟수를 기준으로 내림차순 정렬)

In [8]:
query = """
SELECT 
    substr(O.OrderDate, 1, 7) "MONTH",
    count(D.OrderID) "COUNT",
    sum(D.Quantity) "SUM",
    round(sum(D.Quantity * P.Price) / count(D.OrderID), 2) "AVERAGE"
    
FROM
    OrderDetails D
JOIN
    Orders O
    ON
    D.OrderID == O.OrderID
JOIN
    Products P
    ON
    D.ProductID == P.ProductID
GROUP BY
    "Month"
ORDER BY
    "Count" DESC
;
"""

pd.read_sql(query, products_db)

     MONTH  COUNT   SUM  AVERAGE
0  1997-01     85  2401   981.18
1  1996-12     81  2200   786.68
2  1996-10     73  1738   705.87
3  1996-08     69  1322   482.40
4  1996-11     66  1735   941.88
5  1996-07     59  1462   640.34
6  1996-09     57  1124   606.41
7  1997-02     28   761   713.53

## Q3. noSQL, json, Web Scraping

### Q3-1

다음 금융 시가총액 페이지(http://finance.daum.net/domestic/market_cap) 에서 KOSPI200 상위 30개 종목에 대하여,
뉴스공시 탭의 종목뉴스 최신 100개를 가져와 mLab의 새로운 Collection을 생성하여 저장한 뒤, 모든 뉴스의 `title`, `keywords`, `createdAt` 값을 표현하세요.

`Requirements: requests, json, pymongo`

hint1: 
```python
headers = {"Host":"finance.daum.net"}
requests.get(url, headers=headers)
```

hint2: `some_collection.find(query, {'_id':0,'title':1,})`

<img src="./daum-finance-news.png" width="300">

#### Practice

In [4]:
url = 'http://finance.daum.net/api/trend/market_capitalization?page=1&perPage=30&fieldName=marketCap&order=desc&market=KOSPI&pagination=false'
headers = {
    "Host": "finance.daum.net",
    "Connection": "keep-alive",
    "Accept": "application/json, text/javascript, */*; q=0.01",
    "X-Requested-With": "XMLHttpRequest",
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.98 Safari/537.36",
    "Referer": "http://finance.daum.net/domestic/market_cap",
    "Accept-Encoding": "gzip, deflate",
    "Accept-Language": "ko-KR,ko;q=0.9,en-US;q=0.8,en;q=0.7",
    "Cookie": "webid=0ca10170cc4811e8a5ac000af759d440; _ga=GA1.2.632813349.1549353475; _gid=GA1.2.2037217625.1549353475; KAKAO_STOCK_RECENT=[%22A005930%22]; recentMenus=[{%22destination%22:%22news%22%2C%22title%22:%22%EB%89%B4%EC%8A%A4%C2%B7%EA%B3%B5%EC%8B%9C%22}]; TIARA=dyZMTa6UY7a8KxJDPShHVhrbIz6Jiy2fjXOIX7S3GeqJQaJ1bP7FqvLYD-.sPbtb.HLulN99MKfiigZbn.5TFpi27ZP_oKjA; webid_sync=1549353817326; _gat_gtag_UA_128578811_1=1; _dfs=dGR6SFFtOHN3YzVTSEt3cm9BSGhKUjdIYU1hMmlsZ0dFcjJ2RFhxNSt3VFN0cGFpZnJNZHNzOUxmcHNWV3IwY2hhMk84VWkwRTcwdktXT3cwYjB0a0E9PS0tTDM2WWw4d00vd0g5QVdPWWNpTkhpUT09--de6008cc3fca2965a780035f178c8fe882409ea1",
    "If-None-Match": 'W/"9d3f64f6ee97e66d4a16ed6076cac047"'
          }

In [5]:
data = requests.get(url, headers=headers).json()['data']
data[:2]

[{'rank': 1,
  'name': '삼성전자',
  'symbolCode': 'A005930',
  'code': 'KR7005930003',
  'tradePrice': 46250.0,
  'change': 'FALL',
  'changePrice': 100.0,
  'changeRate': -0.0021574973,
  'marketCap': 276102442937500.0,
  'listedShareCount': 5969782550,
  'foreignRatio': '56.670'},
 {'rank': 2,
  'name': 'SK하이닉스',
  'symbolCode': 'A000660',
  'code': 'KR7000660001',
  'tradePrice': 76600.0,
  'change': 'RISE',
  'changePrice': 700.0,
  'changeRate': 0.0092226614,
  'marketCap': 55764981159000.0,
  'listedShareCount': 728002365,
  'foreignRatio': '50.230'}]

In [45]:
s_url = 'http://finance.daum.net/content/news?page=1&perPage=100&category=economy&searchType=all&keyword=A005930&pagination=false'
headers = {
    "GET /content/news?page=1&perPage=20&category=economy&searchType=all&keyword=A005930&pagination=false HTTP/1.1"
    "Host": "finance.daum.net",
    "Connection": "keep-alive",
    "Accept": "application/json, text/javascript, */*; q=0.01",
    "X-Requested-With": "XMLHttpRequest",
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.98 Safari/537.36",
    "Referer": "http://finance.daum.net/quotes/A005930",
    "Accept-Encoding": "gzip, deflate",
    "Accept-Language": "ko-KR,ko;q=0.9,en-US;q=0.8,en;q=0.7",
    "Cookie": "webid=0ca10170cc4811e8a5ac000af759d440; _ga=GA1.2.632813349.1549353475; _gid=GA1.2.2037217625.1549353475; KAKAO_STOCK_RECENT=[%22A005930%22]; recentMenus=[{%22destination%22:%22news%22%2C%22title%22:%22%EB%89%B4%EC%8A%A4%C2%B7%EA%B3%B5%EC%8B%9C%22}]; _gat_gtag_UA_128578811_1=1; webid_sync=1549355894914; _gat_gtag_UA_74989022_11=1; TIARA=MXGMsGzhBkqykbClO7HIx-YqHAGClN9oZ3x8oZGUuaNeOinnxaUOt-pQhxSF-8Lq8xNas-Yg-UPOWCwGdzWg.2wXe6CTzTWy; _dfs=TnRsYkV3dzdSV3RtTEgyN3kzSXFvTmloZGVUMGpRSmxTTUJHQW51dWlzcXZ2Mk0vbXRsVitFQ0JobzM5VDBIWk9mT29sRGF4MVFpbVkwc1ZYdVJvTEE9PS0tOFpsNDZiYWh2WlczcU1Cdm1rbkJWZz09--8fe649b85b591dc750a2790e025b46f572b34ef1"
}

s_news = requests.get(s_url, headers=headers).json()['data']
len(s_news)

100

In [47]:
s_news[0]

{'newsId': 'aSMz3YSNGy',
 'title': "사계절 가전으로 거듭나는 에어컨.. 한겨울에 '신제품 3파전'",
 'cpKorName': '서울경제',
 'summary': '[서울경제] 한겨울부터 에어컨 전쟁이 시작됐다. LG전자(066570), 삼성전자(005930), 대유위니아(071460) 등 국내 에어컨 제조사들은 지난달부터 잇따라 2019년형 신제품을 선보이며 주도권 경쟁에 나섰다. 미세먼지로 인해 공기청정 에어컨이 사계절 가전으로 거듭나고 있는 추세와 여름이 빨라지고 있는 기후적 특성을 고려한 전략이다. 올해 에어컨',
 'imageUrl': 'https://t1.daumcdn.net/news/201902/05/seouleconomy/20190205155602760aryu.jpg',
 'keywords': ['에어컨', '사계절', '3파전', '대유위니아', 'lg전자'],
 'createdAt': '2019-02-05 15:56:01',
 'updatedAt': '2019-02-05 15:56:01'}

#### Answer

In [6]:
url = 'http://finance.daum.net/api/trend/market_capitalization?page=1&perPage=30&fieldName=marketCap&order=desc&market=KOSPI&pagination=false'
headers = {
    "Host": "finance.daum.net",
    "Connection": "keep-alive",
    "Accept": "application/json, text/javascript, */*; q=0.01",
    "X-Requested-With": "XMLHttpRequest",
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.98 Safari/537.36",
    "Referer": "http://finance.daum.net/domestic/market_cap",
    "Accept-Encoding": "gzip, deflate",
    "Accept-Language": "ko-KR,ko;q=0.9,en-US;q=0.8,en;q=0.7",
    "Cookie": "webid=0ca10170cc4811e8a5ac000af759d440; _ga=GA1.2.632813349.1549353475; _gid=GA1.2.2037217625.1549353475; KAKAO_STOCK_RECENT=[%22A005930%22]; recentMenus=[{%22destination%22:%22news%22%2C%22title%22:%22%EB%89%B4%EC%8A%A4%C2%B7%EA%B3%B5%EC%8B%9C%22}]; TIARA=dyZMTa6UY7a8KxJDPShHVhrbIz6Jiy2fjXOIX7S3GeqJQaJ1bP7FqvLYD-.sPbtb.HLulN99MKfiigZbn.5TFpi27ZP_oKjA; webid_sync=1549353817326; _gat_gtag_UA_128578811_1=1; _dfs=dGR6SFFtOHN3YzVTSEt3cm9BSGhKUjdIYU1hMmlsZ0dFcjJ2RFhxNSt3VFN0cGFpZnJNZHNzOUxmcHNWV3IwY2hhMk84VWkwRTcwdktXT3cwYjB0a0E9PS0tTDM2WWw4d00vd0g5QVdPWWNpTkhpUT09--de6008cc3fca2965a780035f178c8fe882409ea1",
    "If-None-Match": 'W/"9d3f64f6ee97e66d4a16ed6076cac047"'
          }

data = requests.get(url, headers=headers).json()['data']

In [50]:
#data[0]

{'rank': 1,
 'name': '삼성전자',
 'symbolCode': 'A005930',
 'code': 'KR7005930003',
 'tradePrice': 46350.0,
 'change': 'RISE',
 'changePrice': 200.0,
 'changeRate': 0.0043336945,
 'marketCap': 276699421192500.0,
 'listedShareCount': 5969782550,
 'foreignRatio': '56.620'}

In [7]:
top30_list = []
for company in data:
    rank = company['rank']
    code = company['symbolCode']
    name = company['name']    

    
    top30_list.append((rank, code, name))

In [68]:
#len(top30_list)

30

In [8]:
news_dict = {}
for item in top30_list:
    code = item[1]
    
    news_url = 'http://finance.daum.net/content/news?page=1&perPage=100&category=economy&searchType=all&keyword={code}&pagination=false'.format(code=code)
    headers = {
        "GET /content/news?page=1&perPage=20&category=economy&searchType=all&keyword=A005930&pagination=false HTTP/1.1"
        "Host": "finance.daum.net",
        "Connection": "keep-alive",
        "Accept": "application/json, text/javascript, */*; q=0.01",
        "X-Requested-With": "XMLHttpRequest",
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.98 Safari/537.36",
        "Referer": "http://finance.daum.net/quotes/{code}".format(code=code),
        "Accept-Encoding": "gzip, deflate",
        "Accept-Language": "ko-KR,ko;q=0.9,en-US;q=0.8,en;q=0.7",
        "Cookie": "webid=0ca10170cc4811e8a5ac000af759d440; _ga=GA1.2.632813349.1549353475; _gid=GA1.2.2037217625.1549353475; KAKAO_STOCK_RECENT=[%22A005930%22]; recentMenus=[{%22destination%22:%22news%22%2C%22title%22:%22%EB%89%B4%EC%8A%A4%C2%B7%EA%B3%B5%EC%8B%9C%22}]; _gat_gtag_UA_128578811_1=1; webid_sync=1549355894914; _gat_gtag_UA_74989022_11=1; TIARA=MXGMsGzhBkqykbClO7HIx-YqHAGClN9oZ3x8oZGUuaNeOinnxaUOt-pQhxSF-8Lq8xNas-Yg-UPOWCwGdzWg.2wXe6CTzTWy; _dfs=TnRsYkV3dzdSV3RtTEgyN3kzSXFvTmloZGVUMGpRSmxTTUJHQW51dWlzcXZ2Mk0vbXRsVitFQ0JobzM5VDBIWk9mT29sRGF4MVFpbVkwc1ZYdVJvTEE9PS0tOFpsNDZiYWh2WlczcU1Cdm1rbkJWZz09--8fe649b85b591dc750a2790e025b46f572b34ef1"
    }
    
    news = requests.get(news_url, headers=headers).json()['data']
    news_dict[str(item[0])] = {"code": code, "name": item[2], "news": news}
    sleep(2)

In [79]:
#news_dict['1']['news'][0]

{'newsId': 'aSMz3YSNGy',
 'title': "사계절 가전으로 거듭나는 에어컨.. 한겨울에 '신제품 3파전'",
 'cpKorName': '서울경제',
 'summary': '[서울경제] 한겨울부터 에어컨 전쟁이 시작됐다. LG전자(066570), 삼성전자(005930), 대유위니아(071460) 등 국내 에어컨 제조사들은 지난달부터 잇따라 2019년형 신제품을 선보이며 주도권 경쟁에 나섰다. 미세먼지로 인해 공기청정 에어컨이 사계절 가전으로 거듭나고 있는 추세와 여름이 빨라지고 있는 기후적 특성을 고려한 전략이다. 올해 에어컨',
 'imageUrl': 'https://t1.daumcdn.net/news/201902/05/seouleconomy/20190205155602760aryu.jpg',
 'keywords': ['에어컨', '사계절', '3파전', '대유위니아', 'lg전자'],
 'createdAt': '2019-02-05 15:56:01',
 'updatedAt': '2019-02-05 15:56:01'}

In [14]:
mongo_uri = "mongodb://mindudekim:K612913k@ds145299.mlab.com:45299/mydbinstance"
client = MongoClient(mongo_uri)
db = client.mydbinstance
#db.collection_names()
finance_collection = db.daum_finance

In [15]:
finance_collection.insert_one(news_dict)

In [18]:
finance_collection.find_one({})['1']['news'][0]

{'newsId': 'aOoDbzb8fL',
 'title': '美 자문사 블랙록, 삼성전자 지분 5.03% 보유',
 'cpKorName': '서울경제',
 'summary': '[서울경제] 미국 투자자문사인 블랙록 펀드 어드바이저스가 특별관계자 15인과 함께 삼성전자(005930) 주식 5.03%(3억39만1,061주)를 보유하고 있다고 7일 공시했다. 블랙록 측은 경영참여 목적이 없다는 내용의 확인서 제출과 함께 “단순투자 목적으로 장내에서 주식을 매수했다”고 밝혔다. /유주희기자 ginger@sedaily.com',
 'imageUrl': None,
 'keywords': ['삼성전자', '미국', '투자자문사', 'ginger'],
 'createdAt': '2019-02-07 15:16:35',
 'updatedAt': '2019-02-07 15:16:35'}

In [19]:
finance_list = []
for i in range(1, 30+1):
    query = {}
    projection = {
        "_id" : 0,
        "{rank}.code".format(rank=str(i)) : 1,
        "{rank}.name".format(rank=str(i)) : 1,
        "{rank}.news.title".format(rank=str(i)) : 1,
        "{rank}.news.keywords".format(rank=str(i)) : 1,
        "{rank}.news.createdAt".format(rank=str(i)) : 1
        }
    finance_list.extend(list(finance_collection.find(query, projection)))

In [27]:
finance_list[0]['1']['news'][0]

{'title': '美 자문사 블랙록, 삼성전자 지분 5.03% 보유',
 'keywords': ['삼성전자', '미국', '투자자문사', 'ginger'],
 'createdAt': '2019-02-07 15:16:35'}

### Q3-2
위(mLab Collection)에서 종목별 각 뉴스들의 키워드(`"code"`, `"news"`)를 가져오세요.

`Requirements: json, pymongo`

ex)
```python
quotes=[
    {'code': 'A005930',
     'news': [{'keywords': ['게임주', '증시테마', '동반', '인공강우', '중국']},
          {'keywords': ['5g', '4차산업혁명', '5g스마트폰', '애플', '화웨이']},
          {'keywords': ['스마트폰', 'mwc', '폴더블폰', '갤럭시s10', '삼성전자']},
          {'keywords': ['sk하이닉스', '상반기', '어닝쇼크', '삼성전자', 'd램']},
          {'keywords': ['전자업계', '중국', '삼성전자', '삼성', '아시아경제']},
          {'keywords': ['엑스레이', '후지필름', '2017년', '매출액', '유럽']},
          {'keywords': ['삼성전자', '손', 'ssd', '삼성ssd', '게임']},
          {'keywords': ['카풀', '택시업계', '택시', '신현상', '갈등']},
          {'keywords': ['조선업계', '자동차', '수주', '중국', '미국']},
          {'keywords': ['코스닥', '지수', '증시', '바이코리아', '코스피']},
          {'keywords': ['삼성', '스마트팩토리', '경제적자유', '삼성전자', '전문가']},
          {'keywords': ['펀드수익률', '수익률', '금리', '지수', '미국']},
          {'keywords': ['바이코리아', '수익률', '성과', '삼성전자', 'sk하이닉스']},
          {'keywords': ['남북경협', '주식시장', '남북경협주', '대기업', '증시']},
          {'keywords': ['에어컨', 'ai', 'lg', '삼성', '위니아']},
          {'keywords': ['폴더블폰', '스마트폰', '삼성', '다음', '삼성전자']},
          {'keywords': ['sk하이닉스', '적자', '환골탈태', '빅딜', '하이닉스']},
          {'keywords': ['중견련', '사내벤처', '연임', 'ces2019', '삼성전자']},
          {'keywords': ['코스피', '지수', '종가', '미국', '무역협상']},
          {'keywords': ['삼성sdi', '기업공시', '삼성전자', '인수', '삼성중공업']}]
    },
...
]
```

In [28]:
quotes_list = []
for i in range(1, 30+1):
    query = {}
    projection = {
        "_id" : 0,
        "{rank}.code".format(rank=str(i)) : 1,
        "{rank}.news.keywords".format(rank=str(i)) : 1,
        }
    quotes_list.extend(list(finance_collection.find(query, projection)))

In [29]:
quotes = []
for i,item in enumerate(quotes_list):
    quotes.append(item[str(i+1)])

In [32]:
quotes[0]['news'][0]

{'keywords': ['삼성전자', '미국', '투자자문사', 'ginger']}

### Q3-3
불러온 quotes에 대하여 상위 30개 종목 별 keyword 리스트의 갯수를 구하세요.
그리고, 키워드 별 출현 갯수를 카운트하여 dictionary에 저장하여 보여주세요

hint: 

```python
len_count = {}
for i in map(len, a_words):
	if i in len_count:
		len_count[i] += 1
	else:
		len_count[i] = 1
```

In [128]:
quotes[0]['news'][0]['keywords']

['에어컨', '사계절', '3파전', '대유위니아', 'lg전자']

In [137]:
quotes[0]['news'][1]['keywords']

['삼성', '무선청소기', '미세먼지', '삼성전자', '청소기']

In [33]:
keyword_list = []
for quote in quotes:
    news_list = quote['news']
    for news in news_list:
        keyword_list.append(news['keywords'])

In [141]:
len(keyword_list)

3000

In [34]:
keyword_list[0]

['삼성전자', '미국', '투자자문사', 'ginger']

In [35]:
len_count = {}
count = 0
for key in keyword_list:
    for word in key:
        if word in len_count.keys():
            len_count[word] += 1
        else:
            len_count[word] = 1

In [42]:
len_count['삼성전자']

271